<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--50)">
		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"style":{"spacing":{"blockGap":"var:preset|spacing|30"}}} -->
		<div class="wp-block-group">
			<!-- wp:post-date {"fontSize":"piccolo","textColor":"inchiostro-tenue"} /-->
			<!-- wp:post-terms {"term":"category","fontSize":"piccolo"} /-->
			<!-- wp:post-terms {"term":"settore","fontSize":"piccolo"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-title {"level":1,"fontSize":"titolo-1"} /-->
		<!-- wp:post-excerpt {"fontSize":"grande","style":{"typography":{"fontStyle":"italic","fontWeight":"400"}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80)">
		<!-- wp:ac-trani/ultime-notizie {"numero":3,"titolo":"Altre notizie"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
