<!-- wp:template-part {"slug":"barra-appuntamenti","tagName":"div"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"header","align":"full","className":"ac-testa ac-testa--settore","layout":{"type":"constrained"}} -->
	<header class="wp-block-group alignfull ac-testa ac-testa--settore">
		<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
		<div class="wp-block-group alignwide">
			<!-- wp:query-title {"type":"archive","showPrefix":false,"level":1} /-->
			<!-- wp:term-description /-->
		</div>
		<!-- /wp:group -->
	</header>
	<!-- /wp:group -->

	<!-- wp:group {"align":"full","className":"ac-testa__sotto ac-testa--settore","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull ac-testa__sotto ac-testa--settore">
		<!-- wp:paragraph {"align":"wide","className":"ac-sottonav alignwide"} -->
		<p class="ac-sottonav alignwide"><a href="#appuntamenti">Appuntamenti</a> <a href="#documenti">Documenti</a> <a href="#notizie">Notizie</a> <a href="/presidenza/#consiglio">Responsabili</a></p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","align":"wide","anchor":"appuntamenti","style":{"spacing":{"padding":{"top":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
	<section id="appuntamenti" class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--70)">
		<!-- wp:ac-trani/elenco-eventi {"settore":"corrente","numero":8,"titolo":"Appuntamenti","linkArchivio":true} /-->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","align":"wide","anchor":"documenti","style":{"spacing":{"padding":{"top":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
	<section id="documenti" class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--70)">
		<!-- wp:ac-trani/elenco-documenti {"settore":"corrente","numero":6,"titolo":"Documenti","linkArchivio":true} /-->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","align":"wide","anchor":"notizie","style":{"spacing":{"padding":{"top":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
	<section id="notizie" class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--70)">
		<!-- wp:ac-trani/ultime-notizie {"settore":"corrente","numero":3,"titolo":"Notizie","linkArchivio":true} /-->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
